.conteinerDeGato{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    margin-left: 34%;
    margin-top: 15%;
}
.cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cuadro5{
    border-left: solid 2px black ;
    border-right: solid 2px black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.cuadro4{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cuadro8{
    border-left: solid 2px black ;
    border-right: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
div{
    font-size: 50px;
}

#mensaje{
    margin-top: 40px;
    font-size: 50px;
    margin-left: 25px;
    width: 300px;
    text-transform: uppercase;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}